#notifDiv{
    z-index: 10000;  
    display: none;
    background-color: green;
    font-weight: 450;
    width: 350px;
    position: fixed;
    top: 80%;
    left: 5%;
    color: white;
    padding: 5px 20px;
  }
  
  
  .error{
      color: red;
  }